body {
  font-family: "Lucida Console", monospace;
  /* overflo  w: hidden; */
  background-color: #A9DDD9;
}

#titles {
  margin-bottom: 70px;
  padding: 20px;
  color: #3A3A3C;
  background-color: white;
  border: 5px solid #3A3A3C;
  border-radius: 40px;
  text-align: center;
}

button {
  border: none;
  background-color: #3A3A3C;
  color: #fffafa;
  padding: 10px;
  font-size: 50px;
  font-family: "Lucida Console", monospace;
  width: auto;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

li {
  border: 3px solid #3A3A3C;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

li img{
  height: 20px;
  width: 20px;
  visibility: hidden;
  vertical-align: middle;
}

li:hover {
  background-color:#E3493B92;
}

li:hover img{
  opacity: 1;
  visibility: visible;
}

span {
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
}

.subtitle {
  margin-bottom: 10px;
}

.gear-icon {
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.close-icon {
  height: 50px;
  width: 50px;
}

.column {
  width: 48%;
  height: 80%;
  vertical-align: top;
  display: inline-block;
} 

.routineList {
  border-radius: 50px 0px 0px 50px;
  border: 5px solid #3A3A3C;
  height: 75%;
  list-style-type: none;
  padding-inline-start: unset;
  padding: 30px;
  overflow: auto;
}

.title {
  font-weight: bolder;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}

.header {
  font-weight: bolder;
  font-size: 25px;
  color: #3A3A3C;
}

#x {
  background-color: transparent;
  color: #3A3A3C;
  padding: 0px;
  outline: none;
  position: absolute;
  right: 35px;
}

.action {
  margin: 30px;
}

#settings {
  font-size: 20px;
  margin-top: 10px;
}

#done {
  width: 20%
  font-size: 25px;
}

#popup {
  position: absolute;
  font-family: "Lucida Console", monospace;
  padding: 35px;
  z-index: 5;
  border: 14px solid #3A3A3C;
  border-radius: 58px;
  background-color: white;
  height: 55%;
  width: 50%;
  user-select: none;
  display: none;
}

.flex-container {
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#msg {
  position: absolute;
  top: 10%;
  font-family: "Lucida Console", monospace;
  font-size: 6em;
  color: #3A3A3C
}

#clock {
  font-weight: bold;
  font-family: "Lucida Console", monospace;
  font-size: 15em;
  color: #3A3A3C
}

#copyright {
  position: fixed;
  bottom: 2px;
  left: 2px;
}


@keyframes redblue {
  from {background-color: #E3493B;}
  to {background-color: #23B5AF;}
}

@keyframes bluered {
  from {background-color: #23B5AF;}
  to {background-color: #E3493B;}
}

@keyframes blackred {
  from {background-color: #3A3A3C;}
  to {background-color: #E3493B;}
}
